<a href="https://colab.research.google.com/github/locfilm/Data_Science_Rep/blob/develop/PruebaLocfilm2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive

In [2]:
drive.mount('/content/drive/')

Mounted at /content/drive/

In [3]:
%cd '/content/drive/My Drive/Colab Notebooks/db'
!ls

/content/drive/My Drive/Colab Notebooks/db
API_AG.LND.AGRI.K2_DS2_en_csv_v2_1219309.csv	 london_databike.csv
API_AG.LND.FRST.K2_DS2_en_csv_v2_1221041.csv	 Meteorite_Landings.csv
API_EG.USE.ELEC.KH.PC_DS2_en_csv_v2_1221097.csv  poblacion.csv
API_EN.ATM.CO2E.KT_DS2_en_csv_v2_1217566.csv	 test.csv
API_SP.POP.TOTL_DS2_en_csv_v2_1308146.csv	 test.hdf
covid_19_data.csv				 test.parquet
GlobalLandTemperaturesByCountry.csv		 test.pkl
locations.csv					 test.xlsx
locations.json					 titanic.csv

In [4]:
import pandas as pd

In [5]:
df_loc = pd.read_csv('locations.csv')

In [6]:
df_loc.sample(5)

                                title  ...                                          locations
86                      Crimson Peak   ...  Kingston, Ontario, Canada\n,Hamilton, Ontario,...
4            Fighting with My Family   ...  Bracknell, Berkshire, England, UK\n,Norwich, N...
29  The Treasure of the Sierra Madre   ...  Tampico, Tamaulipas, Mexico\n,Kernville, Calif...
73                     Deep Blue Sea   ...  Fox Baja Studios, Rosarito, Baja California No...
28                 Collateral Damage   ...  La Antigua, Veracruz, Mexico\n,USA\n,Los Angel...

[5 rows x 5 columns]

In [8]:
dummies = df_loc['genres'].str.get_dummies(sep=',')
dummies

    10 November 2006 (USA)\n  10 September 1999 (USA)\n  ...  Thriller  Western
0                          0                          0  ...         0        0
1                          0                          0  ...         0        0
2                          0                          0  ...         0        0
3                          0                          0  ...         0        0
4                          0                          0  ...         0        0
..                       ...                        ...  ...       ...      ...
95                         0                          0  ...         0        0
96                         0                          0  ...         0        0
97                         0                          0  ...         0        0
98                         0                          0  ...         0        0
99                         0                          0  ...         0        0

[100 rows x 26 columns]

In [9]:
dummies2 = df_loc['locations'].str.get_dummies(sep=',')
dummies2

     10000 Coors Blvd Bypass NW  ...  Ötztal Glacier Road
0                             0  ...                    0
1                             0  ...                    0
2                             0  ...                    0
3                             0  ...                    0
4                             0  ...                    0
..                          ...  ...                  ...
95                            0  ...                    0
96                            0  ...                    1
97                            0  ...                    0
98                            0  ...                    0
99                            0  ...                    0

[100 rows x 962 columns]

In [23]:
df_loc_genres3 = pd.concat([df_loc, dummies], axis=1)
df_loc_genres3

                                 title    year  ...  Thriller Western
0                                Dune   1984.0  ...         0       0
1                   The Holy Mountain   1973.0  ...         0       0
2                                Blow   2001.0  ...         0       0
3            Honey, I Shrunk the Kids   1989.0  ...         0       0
4             Fighting with My Family   2019.0  ...         0       0
..                                 ...     ...  ...       ...     ...
95                 Narcos                  NaN  ...         0       0
96                            Spectre   2015.0  ...         0       0
97                            Titanic   1997.0  ...         0       0
98                  Bad Boys for Life   2020.0  ...         0       0
99  Fear the Walking Dead                  NaN  ...         0       0

[100 rows x 31 columns]

In [24]:
df_loc_genres3 = df_loc_genres3.drop(columns=['10 November 2006 (USA)\n', '10 September 1999 (USA)\n', '12 October 2001 (Colombia)\n', '21 November 2018 (USA)\n', '22 October 2020 (Mexico)\n',
                    '5 August 2020 (Mexico)\n', '5 June 2015 (Mexico)\n', 'genres', 'TV Series (2018– )\n', 'TV Series (2020– )\n' ])
df_loc_genres3

                                 title    year  ...  Thriller Western
0                                Dune   1984.0  ...         0       0
1                   The Holy Mountain   1973.0  ...         0       0
2                                Blow   2001.0  ...         0       0
3            Honey, I Shrunk the Kids   1989.0  ...         0       0
4             Fighting with My Family   2019.0  ...         0       0
..                                 ...     ...  ...       ...     ...
95                 Narcos                  NaN  ...         0       0
96                            Spectre   2015.0  ...         0       0
97                            Titanic   1997.0  ...         0       0
98                  Bad Boys for Life   2020.0  ...         0       0
99  Fear the Walking Dead                  NaN  ...         0       0

[100 rows x 21 columns]

In [25]:
df_loc_genres3 = pd.melt(df_loc_genres3, id_vars=['title','year','rating','locations'], var_name='genre', value_name='one')
df_loc_genres3

                                   title    year  ...    genre one
0                                  Dune   1984.0  ...   Action   1
1                     The Holy Mountain   1973.0  ...   Action   0
2                                  Blow   2001.0  ...   Action   0
3              Honey, I Shrunk the Kids   1989.0  ...   Action   0
4               Fighting with My Family   2019.0  ...   Action   0
...                                  ...     ...  ...      ...  ..
1695                 Narcos                  NaN  ...  Western   0
1696                            Spectre   2015.0  ...  Western   0
1697                            Titanic   1997.0  ...  Western   0
1698                  Bad Boys for Life   2020.0  ...  Western   0
1699  Fear the Walking Dead                  NaN  ...  Western   0

[1700 rows x 6 columns]

In [26]:
df_loc_genres3['genre'] = pd.Categorical(df_loc_genres3['genre'].apply(str))

In [27]:
df_loc_genres3.dtypes

title          object
year          float64
rating        float64
locations      object
genre        category
one             int64
dtype: object

In [30]:
filt_genre = df_loc_genres3['one'] == 1
filt_genre

0        True
1       False
2       False
3       False
4       False
        ...
1695    False
1696    False
1697    False
1698    False
1699    False
Name: one, Length: 1700, dtype: bool

In [31]:
df_gen = df_loc_genres3[filt_genre]
df_gen

                             title    year  ...     genre one
0                            Dune   1984.0  ...    Action   1
7     Sicario: Day of the Soldado   2018.0  ...    Action   1
8                        Predator   1987.0  ...    Action   1
9             From Dusk Till Dawn   1996.0  ...    Action   1
15                   Total Recall   1990.0  ...    Action   1
...                            ...     ...  ...       ...  ..
1455                  The Arrival   1996.0  ...    Sci-Fi   1
1555                  The Arrival   1996.0  ...  Thriller   1
1566                Amores Perros   2000.0  ...  Thriller   1
1586                 Crimson Peak   2015.0  ...  Thriller   1
1660                      El Topo   1970.0  ...   Western   1

[191 rows x 6 columns]

In [48]:
# Rating por Generos mas populares del pais
df_gen.groupby('genre')['rating'].median().sort_values(ascending=False)

genre
Crime        7.60
Sci-Fi       7.50
Western      7.40
Fantasy      7.40
Drama        7.40
Biography    7.35
History      7.20
Romance      6.70
Animation    6.70
Action       6.70
Thriller     6.50
Adventure    6.50
Family       6.30
Horror       6.25
Comedy       6.10
Mystery      5.40
Musical       NaN
Name: rating, dtype: float64

In [47]:
movie_rank = df_gen.sort_values('rating', ascending=False)
movie_rank.head(20)

                                            title    year  ...      genre one
395                           Narcos                  NaN  ...  Biography   1
595                           Narcos                  NaN  ...      Crime   1
274   Trollhunters: Tales of Arcadia                  NaN  ...  Animation   1
74    Trollhunters: Tales of Arcadia                  NaN  ...     Action   1
683                   Narcos: Mexico                  NaN  ...      Drama   1
583                   Narcos: Mexico                  NaN  ...      Crime   1
613                              Pan's Labyrinth   2006.0  ...      Drama   1
813                              Pan's Labyrinth   2006.0  ...    Fantasy   1
629             The Treasure of the Sierra Madre   1948.0  ...      Drama   1
129             The Treasure of the Sierra Madre   1948.0  ...  Adventure   1
570                 La Reina del Sur                  NaN  ...      Crime   1
1566                               Amores Perros   2000.0  ...   Thriller   1
693                       No Country for Old Men   2007.0  ...      Drama   1
593                       No Country for Old Men   2007.0  ...      Crime   1
666                                Amores Perros   2000.0  ...      Drama   1
70                  La Reina del Sur                  NaN  ...     Action   1
101                            The Holy Mountain   1973.0  ...  Adventure   1
94                Queen of the South                  NaN  ...     Action   1
601                            The Holy Mountain   1973.0  ...      Drama   1
594               Queen of the South                  NaN  ...      Crime   1

[20 rows x 6 columns]

In [52]:
df_gen.groupby('title')['rating'].count()

title
A Walk in the Clouds                           2
Aliens vs. Predator: Requiem                   2
Amores Perros                                  2
Annette                                        0
Antlers                                        0
                                              ..
Titanic                                        2
Total Recall                                   2
Traffic                                        2
Trollhunters: Tales of Arcadia                 2
Y Tu Mamá También                              1
Name: rating, Length: 100, dtype: int64

In [53]:
dummies2 = df_gen['locations'].str.get_dummies(sep=',')

In [54]:
df_gen_loc = pd.concat([df_gen, dummies2], axis=1)
df_gen_loc

                             title    year  ...  Ötztal Alps  Ötztal Glacier Road
0                            Dune   1984.0  ...             0                   0
7     Sicario: Day of the Soldado   2018.0  ...             0                   0
8                        Predator   1987.0  ...             0                   0
9             From Dusk Till Dawn   1996.0  ...             0                   0
15                   Total Recall   1990.0  ...             0                   0
...                            ...     ...  ...           ...                 ...
1455                  The Arrival   1996.0  ...             0                   0
1555                  The Arrival   1996.0  ...             0                   0
1566                Amores Perros   2000.0  ...             0                   0
1586                 Crimson Peak   2015.0  ...             0                   0
1660                      El Topo   1970.0  ...             0                   0

[191 rows x 968 columns]

In [58]:
df_gen_loc2 = df_gen_loc.drop(columns=['locations', 'one'])

In [59]:
df_gen_loc2 = pd.melt(df_gen_loc2, id_vars=['title','year','rating','genre'], var_name='location', value_name='one')
df_gen_loc2

                               title    year  ...                     location one
0                              Dune   1984.0  ...   10000 Coors Blvd Bypass NW   0
1       Sicario: Day of the Soldado   2018.0  ...   10000 Coors Blvd Bypass NW   1
2                          Predator   1987.0  ...   10000 Coors Blvd Bypass NW   0
3               From Dusk Till Dawn   1996.0  ...   10000 Coors Blvd Bypass NW   0
4                      Total Recall   1990.0  ...   10000 Coors Blvd Bypass NW   0
...                              ...     ...  ...                          ...  ..
183737                  The Arrival   1996.0  ...          Ötztal Glacier Road   0
183738                  The Arrival   1996.0  ...          Ötztal Glacier Road   0
183739                Amores Perros   2000.0  ...          Ötztal Glacier Road   0
183740                 Crimson Peak   2015.0  ...          Ötztal Glacier Road   0
183741                      El Topo   1970.0  ...          Ötztal Glacier Road   0

[183742 rows x 6 columns]

In [60]:
filt_loc = df_gen_loc2['one'] == 1

In [61]:
df_final= df_gen_loc2[filt_loc]
df_final

                               title    year  ...                     location one
1       Sicario: Day of the Soldado   2018.0  ...   10000 Coors Blvd Bypass NW   1
43      Sicario: Day of the Soldado   2018.0  ...   10000 Coors Blvd Bypass NW   1
295                         Traffic   2000.0  ...   1190-B W. Morena Boulevard   1
338                         Traffic   2000.0  ...   1190-B W. Morena Boulevard   1
488          No Country for Old Men   2007.0  ...           1809 N. Grand Ave.   1
...                              ...     ...  ...                          ...  ..
183233                      Spectre   2015.0  ...                       Zócalo   1
183396                      Spectre   2015.0  ...                 Ötztal Alps    1
183424                      Spectre   2015.0  ...                 Ötztal Alps    1
183587                      Spectre   2015.0  ...          Ötztal Glacier Road   1
183615                      Spectre   2015.0  ...          Ötztal Glacier Road   1

[3063 rows x 6 columns]

In [65]:
loc_rank = df_final.groupby('location')['rating'].median().sort_values(ascending=False)
loc_rank.head(30)

location
 Valle del Cauca                       8.8
Bogotá                                 8.8
Cali                                   8.8
Cartagena                              8.8
Medellin                               8.8
 Colombia\n                            8.8
Sierra Madre del Sur                   8.2
Segovia                                8.2
 Castilla y León                       8.2
Sierra Madre Occidental                8.2
Sierra de Guadarrama mountain range    8.2
Sierra de los Ajos                     8.2
 Chatsworth                            8.2
 Zaragoza                              8.2
Stage 6                                8.2
Stage 1                                8.2
Belchite                               8.2
Iverson Ranch - 1 Iverson Lane         8.2
Mojave Desert                          8.2
Stage 9                                8.2
 Tamaulipas                            8.2
 Segovia                               8.2
Tampico                                8.2
Jungapeo                               8.2
Kernville                              8.2
 Michoacán                             8.2
Algete                                 8.2
San Jose Purua                         8.2
 Aragón                                8.2
 Bavispe                               8.2
Name: rating, dtype: float64